body{
  font-family: American Typewriter, serif;
}
h1 {
  font-size: 70px;
}
h2 {
  margin: 0px;
  text-align: center;
  font-size: 40px;
}
h4{
  color:rgb(240, 113, 134);
}
ul {
  list-style-image: url('../entry-2/heart-emoji.png');
}