body{
  background-color:darkviolet;
}
h1{
  color:rgb(240, 113, 134);
  font-family:American Typewriter, serif;
}
h2{
  font-family:American Typewriter, serif;
}
h3{
  font-family:American Typewriter, serif;
}
p{
  font-family:American Typewriter, serif;
}
summary{
  font-family:American Typewriter, serif;
}
ul {
  list-style-image: url('../entry-2/heart-emoji.png');
}
li{
  font-family:American Typewriter, serif;
}