body{
  background-color:darkviolet;
  font-family:American Typewriter, serif;
}
h1{
  color:rgb(240, 113, 134);
}
h4{
  color:rgb(240, 113, 134);
}
ul {
  list-style-image: url('../entry-2/heart-emoji.png');
}