body, html {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	object-fit: cover;
}
h1 {
	text-align: center;
	padding: 20px;
	margin: 0px;
  }
.toc{
	border-style: solid;
	border-width: 4px;
	position: fixed;
	font-size: 30px;
	z-index: 1;
}
div {
    /* background-color: lightgrey;
	border: solid black 1px; */
    padding: 10px;
}

.image-container {
	position: relative;
	max-width: 50%;
}
aside {
	max-width: calc(50% - 20px);
	word-wrap: normal;
	padding: 7px;
	margin-left: 10px;
	margin-right: 10px;
}

.slide_wrapper {
	position: relative;
	padding: 0;
	width: 880px;
	margin: 0 auto;
	/* margin-top: 50px; */
	height: 500px;
	overflow: hidden;
	border: purple solid 5px;
}

.slides {
	position: absolute;
	left:0px; top:auto; bottom:auto;
	transition: left 0.5s ease-out;
}

li{
	list-style: none;
}
.slides li:first-child{
	float: left;
	margin-left: 40px;
}
.slides li:not(:last-child){
	float: left;
	margin-right: 40px;
}
.slides img{
	width: 800px;
	height: 500px;
}

.controls{
	text-align: center;
	margin-top: 50px;
	cursor: pointer;
}

.controls span{
	background: #333;
	color: #fff;
	padding: 10px 20px;
	margin: 0 10px;
}

#desc_heading{
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-size: xx-large;
	margin-bottom: 10px;
}
.collapsible {
	cursor: pointer;
	padding: 10px;
	border-style: solid;
	border-width: 4px;
	position: fixed;
	font-size: 30px;
	z-index: 1;
}
.content {
	position: absolute;
	font-family: sans-serif;
	z-index: 1;
	display: none;
}
