div:nth-child(2) {
	background-color: palegoldenrod;
	right: 30px;
	position: fixed;
	top: 100px;
	width: 12%;
}
div {
    /* background-color: lightgrey;
	border: solid black 1px; */
    padding: 10px;
}
img{
    width: 300px;
    height: 300px;
}
