div:nth-child(2) {
	background-color: palegoldenrod;
	right: 30px;
	position: fixed;
	top: 100px;
	width: 12%;
	z-index: 1;
}

div {
    /* background-color: lightgrey;
	border: solid black 1px; */
    padding: 10px;
}

.image-container {
	position: relative;
	max-width: 50%;
}

img {
    width: 300px;
    height: 300px;
	max-width: 100%;
	vertical-align: top;
}

aside {
	max-width: calc(50% - 20px);
	word-wrap: normal;
	padding: 7px;
	margin-left: 10px;
	margin-right: 10px;
}

p {
	width: 50%;
	display: inline-block;
	text-align: left;
	white-space: pre;
	margin: auto;
}
@media (hover: hover) {
	aside {visibility: hidden;}

	img:hover + aside {visibility: visible;}
}
